# Системные файлы
node_modules/
.DS_Store
dist/
dist-ssr/
build/

# Логи
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# TypeScript - файлы инкрементальной сборки (кэш проверки типов)
*.tsbuildinfo

# Локальные переменные окружения, где могут быть ключи API
.env
.env.local
.env.*.local

# Редакторы кода
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea/
*.suo
*.swp

# Прочее
/coverage/
.tmp/
