@use "@/app/styles/variables" as v;

.section {
  scroll-margin-top: calc(var(--header-height) + 2.5rem);
  padding-block: var(--spacing-section);
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-card);

  & > [data-grid-id="hard"] { grid-area: hard; }
  & > [data-grid-id="soft"] { grid-area: soft; }
  & > [data-grid-id="tools"] { grid-area: tools; }
  & > [data-grid-id="fintech"] { grid-area: fintech; }

  grid-template-areas:
    "hard"
    "soft"
    "tools"
    "fintech";

  @media (min-width: #{v.$breakpoint-tablet}) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;

    grid-template-areas:
      "hard  hard  soft"
      "tools fintech fintech";

    & > [data-grid-id="hard"] {
      --card-columns: 2;
    }
  }
}
