/* Семантический ul-контейнер для элементов меню */
.menuList {
  display: flex; // layout для элементов меню
  gap: 2rem; // расстояние между элементами меню
  white-space: nowrap; // запрещаем перенос строк
}

/* Элемент ссылки */
.link {
  font-weight: 300; // чуть тоньше стандартных 400
  transition: color 0.2s ease; // плавное изменение цвета

  &:hover {
    color: var(--text-accent); // акцентный цвет при наведении
  }
}
