/** Анимация мигания для имитации терминального курсора */
@keyframes blink {
  0%, 49% { opacity: 1; } // фаза «включенного» состояния
  50%, 100% { opacity: 0; } // фаза «выключенного» состояния
}

.logo {
  display: inline-flex; // для точного выравнивания символа _ и текста
  align-items: center; // для точного выравнивания символа _ и текста
  font-family: var(--font-mono), monospace; // шрифт JetBrains Mono
  font-weight: 550; // вес шрифта логотоипа
  font-size: var(--font-size-l); // размер шрифта логотипа
  white-space: nowrap; // запрещает перенос текста

  .cursor {
    color: var(--text-accent); // для курсора используем акцентный цвет шрифта
    margin-left: 0.25em; // смещает курсор относительно текста
    animation: blink 1s steps(1, end) infinite; // параметры анимации
    user-select: none; // запрещает выделение символа пользователем
  }

  &:hover .cursor {
    animation: none; // останавливает анимацию при наведении
    opacity: 1; // курсор остается видимым
  }
}
