@use "@/app/styles/variables" as v;

/** Корневой контейнер мобильного меню (фон и управление состоянием) */
.overlay {
  position: fixed;
  inset: 0; // растягивает блок на весь экран
  z-index: v.$z-index-portal;
  background-color: var(--bg-page);
  height: 100dvh; // учитывает высоту адресной строки мобильных браузеров

  /** Начальное визуальное состояние */
  opacity: 0; // элемент полностью прозрачный

  /**
   * Убирает элемент из "дерева отрисовки"
   * - позволяет проиграть анимацию opacity перед исчезновением
   * - элемент становится невидимым для скринридеров и табуляции
   */
  visibility: hidden;
  pointer-events: none; // когда меню закрыто, клики "пролетают" сквозь невидимый оверлей на основной контент сайта

  /** Плавный переход для состояний появления и исчезновения */
  transition:
    opacity var(--transition-duration) var(--transition-curve),
    visibility var(--transition-duration) var(--transition-curve);

  /** Состояние, когда меню открыто */
  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; // включает захват кликов - теперь взаимодействие идет только с меню
  }
}

/** Панель меню (контейнер для кнопки-крестика и меню навигации */
.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/** Заголовок для скринридеров */
.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/** Контейнер панели управления, стили повторяют компонент Header */
.header {
  width: 100%;
  height: 4.5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

/** Контейнер для выравнивания кнопки-крестика */
.controls {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/** Область ссылок */
.body {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 4.5rem; // компенсирует ширину .header
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: safe center;
}
